.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.order-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.order-img {
    margin-right: 20px;
}
.order-img > div {
    width: 40px;
    height: 40px;
}
.order-description {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.order-price > b {
    font-size: 20px;
}
.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 15px;
}
input:focus {
    font-size: 16px;
}
.input-mask {
    padding: 10px;
    height: 40px;
    margin-top: 15px;
    font-size: 15px;
}
.select {
    height: 40px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 15px;
    color: black;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input:focus {
        font-size: 16px;
    }
}