.product {
    display: flex;
    flex-direction: column;
    width: 113px;
    /*margin: 5px 5px 5px 5px;*/
    align-items: center;
    font: 14px Arial;
}
.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 66px;
    text-align: center;
}
.activeBtn {
    background: #e64d44;
}
.price {
    margin-bottom: 5px;
}
.price > span > b {
    font-size: 20px;
}
.engineOil, .atf, .mtf ,.airFilter,
.cabinFilter, .fuelFilter, .sparkPlug, .antifreeze,
.brakeFluid, .engine, .transmission, .suspension,
.conditioner, .electrics, .muffler {
    background-size:100%;
    height: 75px;
    width: 75px;
}